body{
text-align: right;
    align-content: center;
}

#marquee{
    font-size: 22px;
    color: crimson;
    font-variant:small-caps;
    font-family:sans;
    font-weight:500;
    background-color:beige;
}

#details h5{
    color: cornflowerblue;
}

.campus1 p{
    font-size: 20px;
}

.container{
    text-align: center; 
}

.campus_imgs{
    text-align:center;
}